<div class="container">

  <table>

    <caption>
      <b class="tile">Async process status</b>
      <i class="subtitle">{{ message }}</i>
    </caption>


    <thead>
      <tr>
        <td rowSpan="2" class="center">
          <div class="duration">
            <label for="delayId">Process duration (ms)</label>
            <input type="number" id="delayId" min="250" step="250"  [value]="initialDelay" [formControl]="delayControl" />
          </div>
          <button type="button" (click)="process()">Run process</button>
          <button type="button" (click)="abort()">Cancel process</button>
        </td>
      </tr>
    </thead>


    <tbody>
      <tr>
        <th scope="row">
          <code>
            processAsyncStatus<strong class="member">.attempts</strong>
          </code>
        </th>
        <td class="center">{{ processAsyncStatus.attempts }}</td>
      </tr>

      <tr>
        <th scope="row">
          <code>
            processAsyncStatus<strong class="member">.successfulAttempts</strong>
          </code>
        </th>
        <td class="center">{{ processAsyncStatus.successfulAttempts }}</td>
      </tr>

      <tr>
        <th scope="row">
          <code>
            processAsyncStatus<strong class="member">.failedAttempts</strong>
          </code>
        </th>
        <td class="center">{{ processAsyncStatus.failedAttempts }}</td>
      </tr>

      <tr>
        <th scope="row">
          <code>
            processAsyncStatus<strong class="member">.isIdle</strong>
          </code>
        </th>
        <td class="center">{{ processAsyncStatus.isIdle }}</td>
      </tr>

      <tr>
        <th scope="row">
          <code>
            processAsyncStatus<strong class="member">.isOngoing</strong>
          </code>
        </th>
        <td class="center">{{ processAsyncStatus.isOngoing }}</td>
      </tr>

      <tr>
        <th scope="row">
          <code>
            processAsyncStatus<strong class="member">.wasSuccessful</strong>
          </code>
        </th>
        <td class="center">{{ processAsyncStatus.wasSuccessful }}</td>
      </tr>

      <tr>
        <th scope="row">
          <code>
            processAsyncStatus<strong class="member">.wasFailed</strong>
          </code>
        </th>
        <td class="center">{{ processAsyncStatus.wasFailed }}</td>
      </tr>

      <tr>
        <th scope="row">
          <code title="Elapsed time in milliseconds">
            processAsyncStatus<strong class="member">.elapsedTime</strong>
          </code>
        </th>
        <td class="center">
          <button type="button" (click)="updateElapsedTime()">Update</button> {{ elapsedTime }}
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td rowSpan="2" class="center">
          <button type="button" (click)="newAsyncStatus()">new AsyncStatus()</button>
          <button type="button" (click)="reset()">Reset stats</button>
        </td>
      </tr>
      <tr>
        <td rowSpan="2">
          <ul>
            <li>
              <a href="https://www.npmjs.com/package/@bugtamer/async-status">NPM</a>
            </li>
            <li>
              <a href="https://github.com/bugtamer/async-status-js">AsyncStatus source code repo</a>
            </li>
            <li>
              <a href="https://github.com/bugtamer/ng-async-status-example">Demo source code repo</a>
            </li>
          </ul>
        </td>
      </tr>
    </tfoot>

  </table>


</div>
